<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1e04c8eb95b3f50b26d841e9fe97e8b1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_1e04c8eb95b3f50b26d841e9fe97e8b1" ></div>
        
</body>
<script>
    
    
            var map_1e04c8eb95b3f50b26d841e9fe97e8b1 = L.map(
                "map_1e04c8eb95b3f50b26d841e9fe97e8b1",
                {
                    center: [10.285225543122365, 76.56987325257484],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0e82ba76934ed7c6b97f8eb18255ef8d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1e04c8eb95b3f50b26d841e9fe97e8b1);
        
    
            var marker_293111ea99574c2d61b12081f1c3e661 = L.marker(
                [17.360589, 78.4740613],
                {}
            ).addTo(map_1e04c8eb95b3f50b26d841e9fe97e8b1);
        
    
        var popup_91b4b7b52b025d70511ad06758482392 = L.popup({"maxWidth": "100%"});

        
            
                var html_c1cc779f7a06964c2b17e4ad504e2dfb = $(`<div id="html_c1cc779f7a06964c2b17e4ad504e2dfb" style="width: 100.0%; height: 100.0%;">My Location</div>`)[0];
                popup_91b4b7b52b025d70511ad06758482392.setContent(html_c1cc779f7a06964c2b17e4ad504e2dfb);
            
        

        marker_293111ea99574c2d61b12081f1c3e661.bindPopup(popup_91b4b7b52b025d70511ad06758482392)
        ;

        
    
    
            var marker_5b7f74e751ebc9a0119a31b164a0c62f = L.marker(
                [9.919599606204573, 78.11928815236874],
                {}
            ).addTo(map_1e04c8eb95b3f50b26d841e9fe97e8b1);
        
    
        var popup_412c070e07f05478a9ca713809cb1f4d = L.popup({"maxWidth": "100%"});

        
            
                var html_34880d8260ec086aa9e13bc38c82cad1 = $(`<div id="html_34880d8260ec086aa9e13bc38c82cad1" style="width: 100.0%; height: 100.0%;">Meenakshi Amman Temple, Tamil Nadu</div>`)[0];
                popup_412c070e07f05478a9ca713809cb1f4d.setContent(html_34880d8260ec086aa9e13bc38c82cad1);
            
        

        marker_5b7f74e751ebc9a0119a31b164a0c62f.bindPopup(popup_412c070e07f05478a9ca713809cb1f4d)
        ;

        
    
    
            var marker_7ce4950e89947a02e4d6513bd8a6787f = L.marker(
                [8.942205975474767, 77.16512659839518],
                {}
            ).addTo(map_1e04c8eb95b3f50b26d841e9fe97e8b1);
        
    
        var popup_a8c9d48bac65fc3d2b01b2e72df21ce3 = L.popup({"maxWidth": "100%"});

        
            
                var html_acfa9377e82b0d7a0e78d1a46b100e3e = $(`<div id="html_acfa9377e82b0d7a0e78d1a46b100e3e" style="width: 100.0%; height: 100.0%;">Palaruvi Waterfalls</div>`)[0];
                popup_a8c9d48bac65fc3d2b01b2e72df21ce3.setContent(html_acfa9377e82b0d7a0e78d1a46b100e3e);
            
        

        marker_7ce4950e89947a02e4d6513bd8a6787f.bindPopup(popup_a8c9d48bac65fc3d2b01b2e72df21ce3)
        ;

        
    
    
            var marker_a57de7128bae7f497e12a35484f700f0 = L.marker(
                [8.931019567611102, 77.23789904072308],
                {}
            ).addTo(map_1e04c8eb95b3f50b26d841e9fe97e8b1);
        
    
        var popup_9ee018f58923eb59d1b81e84186b00a3 = L.popup({"maxWidth": "100%"});

        
            
                var html_8890f1310f23546559b5561ae7b8f567 = $(`<div id="html_8890f1310f23546559b5561ae7b8f567" style="width: 100.0%; height: 100.0%;">Courtallam Falls</div>`)[0];
                popup_9ee018f58923eb59d1b81e84186b00a3.setContent(html_8890f1310f23546559b5561ae7b8f567);
            
        

        marker_a57de7128bae7f497e12a35484f700f0.bindPopup(popup_9ee018f58923eb59d1b81e84186b00a3)
        ;

        
    
    
            var marker_505805ee85c41f2abb137df1170ab6f1 = L.marker(
                [10.285225543122365, 76.56987325257484],
                {}
            ).addTo(map_1e04c8eb95b3f50b26d841e9fe97e8b1);
        
    
        var popup_2525b38b31c21b8e7df8b831f94a7d9b = L.popup({"maxWidth": "100%"});

        
            
                var html_800e3013f512afd4954b2336f5cddee6 = $(`<div id="html_800e3013f512afd4954b2336f5cddee6" style="width: 100.0%; height: 100.0%;">ATHIRAPPILLY FALLS</div>`)[0];
                popup_2525b38b31c21b8e7df8b831f94a7d9b.setContent(html_800e3013f512afd4954b2336f5cddee6);
            
        

        marker_505805ee85c41f2abb137df1170ab6f1.bindPopup(popup_2525b38b31c21b8e7df8b831f94a7d9b)
        ;

        
    
    
            var marker_ceef65e28e22f850bedbbd3ae1653b0f = L.marker(
                [11.400831140583273, 76.7357735824683],
                {}
            ).addTo(map_1e04c8eb95b3f50b26d841e9fe97e8b1);
        
    
        var popup_cdf2ded3e7c0d46c37f24dee9022ac25 = L.popup({"maxWidth": "100%"});

        
            
                var html_952b274e3330d7c2e2da8fc18c594a0b = $(`<div id="html_952b274e3330d7c2e2da8fc18c594a0b" style="width: 100.0%; height: 100.0%;">Doddabetta Peak</div>`)[0];
                popup_cdf2ded3e7c0d46c37f24dee9022ac25.setContent(html_952b274e3330d7c2e2da8fc18c594a0b);
            
        

        marker_ceef65e28e22f850bedbbd3ae1653b0f.bindPopup(popup_cdf2ded3e7c0d46c37f24dee9022ac25)
        ;

        
    
    
            var marker_5f50eea18de57e4a77447be372b49f05 = L.marker(
                [11.512174839250857, 76.08814354560745],
                {}
            ).addTo(map_1e04c8eb95b3f50b26d841e9fe97e8b1);
        
    
        var popup_a4a691760c2bc8483267b1247ef7caa8 = L.popup({"maxWidth": "100%"});

        
            
                var html_bf99a08340361b4220daa7fbd7207ec7 = $(`<div id="html_bf99a08340361b4220daa7fbd7207ec7" style="width: 100.0%; height: 100.0%;">Chembra Peak</div>`)[0];
                popup_a4a691760c2bc8483267b1247ef7caa8.setContent(html_bf99a08340361b4220daa7fbd7207ec7);
            
        

        marker_5f50eea18de57e4a77447be372b49f05.bindPopup(popup_a4a691760c2bc8483267b1247ef7caa8)
        ;

        
    
</script>
</html>