<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css" />

    <title>Document</title>
</head>

<body>
    <main>
        <article>
            <section class="section destination">
                <div class="container">
                  <!-- <p class="section-subtitle">Destinations</p> -->
      
                  <h2 class="h2 section-title">Recommended Destinations</h2>
      
                  <ul class="destination-list">
                    <li class="w-50">
                      <a href="search/0" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[0].Images[0]}}
                            width="1140"
                            height="1100"
                            loading="lazy"
                            alt={{locations[0].Name}}
                            class="img-cover"
                          />  
                        </figure>
      
                        <div class="card-content">
                          <!-- <p class="card-subtitle">Malé</p> -->
      
                          <h3 class="h3 card-title">{{locations[0].Name}}</h3>
                        </div>
                      </a>
                    </li>
      
                    <li class="w-50">
                      <a href="search/1" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[1].Images[0]}}
                            width="1140"
                            height="1100"
                            loading="lazy"
                            class="img-cover"
                          />
                        </figure>
      
                        <div class="card-content">
                          <!-- <p class="card-subtitle">Bangkok</p> -->
      
                          <h3 class="h3 card-title">{{locations[1].Name}}</h3>
                        </div>
                      </a>
                    </li>
      
                    <li>
                      <a href="search/2" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[2].Images[0]}}
                            width="1110"
                            height="480"
                            loading="lazy"
                            class="img-cover"
                          />
                        </figure>
      
                        <div class="card-content">
                          <h3 class="h3 card-title">{{locations[2].Name}}</h3>
                        </div>
                      </a>
                    </li>
      
                    <li>
                      <a href="search/3" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[3].Images[0]}}
                            width="1110"
                            height="480"
                            loading="lazy"
                            class="img-cover"
                          />
                        </figure>
      
                        <div class="card-content">
                          <!-- <p class="card-subtitle">Kathmandu</p> -->
      
                          <h3 class="h3 card-title">{{locations[3].Name}}</h3>
                        </div>
                      </a>
                    </li>
      
                    <li>
                      <a href="search/4" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[4].Images[0]}}
                            width="1110"
                            height="480"
                            loading="lazy"
                            class="img-cover"
                          />
                        </figure>
      
                        <div class="card-content">
                          <!-- <p class="card-subtitle">Jakarta</p> -->
      
                          <h3 class="h3 card-title">{{locations[4].Name}}</h3>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </section>
        </article>
    </main>
    
</body>
</html>