<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css" />
    
    <title>Document</title>
    <style>
      body {
          background-image: url('https://static.vecteezy.com/system/resources/previews/002/065/154/original/airplane-passport-and-boarding-pass-on-empty-background-with-copy-space-for-text-travel-background-illustration-free-vector.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          margin-left: 30%;
      }
  </style>
</head>

<body>
    <main>
        <article>
            <section class="section destination">
                <div class="container">
                  <!-- <p class="section-subtitle">Destinations</p> -->
      
                  <h2 class="h2 section-title">Recommended Destinations</h2>
      
                  <ul class="destination-list">
                    <li class="w-50">
                      <a href="map/0" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[0].Images[0]}}
                            width="1140"
                            height="1100"
                            loading="lazy"
                            alt={{locations[0].Name}}
                            class="img-cover"
                            object-fit="cover"
                          />  
                        </figure>
      
                        <div class="card-content">
                          <!-- <p class="card-subtitle">Malé</p> -->
      
                          <h3 class="h3 card-title">{{locations[0].Name}}</h3>
                        </div>
                      </a>
                      <a href="/place/0" class="card-subtitle">Click here for travel plan</a>
                    </li>
      
                    <li class="w-50">
                      <a href="map/1" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[1].Images[0]}}
                            width="1140"
                            height="1100"
                            loading="lazy"
                            object-fit="cover"
                            class="img-cover"
                          />
                        </figure>
      
                        <div class="card-content">
                          <!-- <p class="card-subtitle">Bangkok</p> -->
      
                          <h3 class="h3 card-title">{{locations[1].Name}}</h3>
                        </div>
                      </a>
                      <a href="/place/1">Click here for travel plan</a>
                    </li>
      
                    <li>
                      <a href="map/2" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[2].Images[0]}}
                            width="1110"
                            height="480"
                            loading="lazy"
                            class="img-cover"
                            object-fit="cover"

                          />
                        </figure>
      
                        <div class="card-content">
                          <h3 class="h3 card-title">{{locations[2].Name}}</h3>
                        </div>
                      </a>
                      <a href="/place/2">Click here for travel plan</a>
                    </li>
      
                    <li>
                      <a href="map/3" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[3].Images[0]}}
                            width="1110"
                            height="480"
                            loading="lazy"
                            class="img-cover"
                            object-fit="cover"

                          />
                        </figure>
      
                        <div class="card-content">
                          <!-- <p class="card-subtitle">Kathmandu</p> -->
      
                          <h3 class="h3 card-title">{{locations[3].Name}}</h3>
                        </div>
                      </a>
                      <a href="/place/3">Click here for travel plan</a>
                    </li>
      
                    <li>
                      <a href="map/4" class="destination-card">
                        <figure class="card-banner">
                          <img
                            src={{locations[4].Images[0]}}
                            width="1110"
                            height="480"
                            loading="lazy"
                            class="img-cover"
                            object-fit="cover"
                          />
                        </figure>
      
                        <div class="card-content">
                          <!-- <p class="card-subtitle">Jakarta</p> -->
      
                          <h3 class="h3 card-title">{{locations[4].Name}}</h3>
                        </div>
                      </a>
                      <a href="/place/4">Click here for travel plan</a>
                    </li>
                  </ul>
                </div>
              </section>
        </article>
    </main>
    
</body>
</html>